@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.title {
  color: var(--clr-primary-2);
  text-align: center;
  margin: 1rem auto 1rem auto;
}
.underline {
  width: 8rem;
  height: 0.25rem;
  margin: 0 auto;
  background-color: var(--clr-primary-10);
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--fixed-width);
  margin: 0 auto;
  margin-top: 5rem;
  background-color: var(--clr-primary-9);
  box-shadow: var(--dark-shadow);
  border-radius: var(--radius);
}

/* FORM */
form {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
}
form > input {
  border: 0.1px solid var(--clr-primary-4);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  width: 73%;
  outline: none;
  padding-left: 1rem;
}
form .btn {
  background-color: var(--clr-primary-8);
  border: 0.1px solid var(--clr-primary-4);
  padding: 0.5rem 2rem;
  font-weight: bold;
  color: var(--clr-grey-3);
  transition: var(--transition);
  cursor: pointer;
  outline: none;
}
form .btn:hover {
  background-color: var(--clr-primary-7);
}
/* ALERT */
#alert {
  margin-bottom: 0;
  color: var(--clr-grey-9);
}
.alert {
  width: 80%;
  text-align: center;
  margin: 0.5rem auto 0 auto;
  border-radius: var(--radius);
}
main {
  display: grid;
  place-items: center;
}

/* SUCCESS AND DANGER  */
.danger {
  background-color: var(--clr-red-light);
  color: var(--clr-white);
}
.success {
  background-color: var(--clr-green-light);
  color: var(--clr-white);
}

/* LIST */
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
  width: 100%;
  padding: 0 5rem;
}
article p {
  width: 80%;
  padding-left: 1rem;
  margin-bottom: 0;
  border-radius: var(--radius);
  background-color: var(--clr-primary-4);
  color: var(--clr-white);
}
.btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

/* BUTTON */
.editBtn,
.deleteBtn {
  border: 0.1px solid var(--clr-primary-2);
  color: var(--clr-primary-2);
  padding: 0.2rem 0.5rem;
  border-radius: var(--radius);
  outline: none;
}
.editBtn:hover,
.deleteBtn:hover {
  background-color: var(--clr-primary-8);
  transition: var(--transition);
  cursor: pointer;
}

.clear-cart {
  background-color: var(--clr-primary-8);
  border: 0.1px solid var(--clr-primary-4);
  padding: 0.5rem 2rem;
  font-weight: bold;
  color: var(--clr-grey-3);
  transition: var(--transition);
  cursor: pointer;
  outline: none;
  margin: 1rem 0;
  border-radius: var(--radius);
}
.clear-cart:hover {
  background-color: var(--clr-primary-7);
}

/* MEDIA QUERIES */
@media screen and (max-width: 576px) {
  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  section {
    width: 100%;
  }
  form > input {
    height: 2rem;
    text-align: center;
    outline: none;
  }
  .list {
    gap: 1rem;
  }
  .editBtn,
  .deleteBtn {
    padding: 0.1rem 0.3rem;
  }
}
